################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net/Eatham532/variables/ProjectSpecialData.resx
/.vs
/bin/Debug
/net/Eatham532/variables/ProjectSpecialData.Designer.cs
