@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Russo+One&display=swap');

p {

}

img {
    text-align: center;
    width: fit-content;
    height: fit-content;
}

h1 {
    font-family: 'Russo One', sans-serif;
}

span {

}